[Unit]
Description=Generate host keys for sshd
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=True
ExecStart=/usr/lib/systemd/scripts/genkeys.sh

[Install]
WantedBy=multi-user.target