Description=LayerManager Service from Genivi
Requires=X.service
After=X.service

[Service]
Type=simple
Environment=LD_PRELOAD=/usr/lib/layermanager/communicator/libDBUSCommunicator.so:/usr/lib/libGLESv2.so.2
ExecStart=/usr/bin/LayerManagerService
TimeoutSec=2s

[Install]
WantedBy=multi-user.target.wants