[Unit]
Description=LayerManager Service from Genivi
Requires=X.service
After=X.service

[Service]
Type=dbus
BusName=org.genivi.layermanagementservice
ExecStartPre=/bin/sleep 1
ExecStart=/usr/bin/LayerManagerService
TimeoutSec=2s

[Install]
WantedBy=multi-user.target.wants