[Unit]
Description=pulseaudio server
Requires=dbus.service
After=dbus.service

[Service]
Type=simple
ExecStart=/usr/bin/pulseaudio --log-level=0
Restart=always
RestartSec=5
TimeoutSec=5

[Install]
WantedBy=multi-user.target